<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunggyu.news_scraper_batch.batch.mapper.HolidayMapper">
    <update id="truncateHolidays">
        TRUNCATE TABLE tbl_holiday
    </update>

    <insert id="addHolidays" parameterType="list">
        INSERT INTO tbl_holiday
            (
                locdate,
                dateName,
                isHoliday,
                seq
            ) VALUES
            <foreach collection="list" item="item" separator=",">
                (
                    #{item.locdate},
                    #{item.dateName},
                    #{item.isHoliday},
                    #{item.seq}
                )
            </foreach>
    </insert>
</mapper>